.serch{
    input{
        width: 500px;
    }
}
.subSearch{
    width: 100%;
    max-height: 200px;
    opacity: 1;
    background-color: red;
    overflow-y: scroll;
}
.subSearch ul{
    list-style: none;
}
.subSearchHidden{
    width: 100%;
    max-height: 200px;
    opacity: 0;
    background-color: red;
    overflow: scroll; 
}
.isActiveSub{
    display: block;
}
.unActiveSub{
    display: none;
}
